.button {
  padding: 0;
  display: flex;
  align-items: center;
  color: $white-color;
  border: none;
  background-color: transparent;

  &--icon span {
    margin-right: auto;
  }

  &--icon svg {
    fill: $sixth-color;
  }

  &--round {
    border-radius: $medium-radius;
  }

  &--round-secondary {
    padding: 10px 23px;
    min-height: 62px;
    font-weight: 700;
    border-radius: $small-radius;
  }

  &--round-regular {
    padding: 10px 20px;
    min-height: 40px;
    font-weight: 700;
    border-radius: $regular-radius;
  }

  &--border {
    color: $sixth-color;
    border: 3px solid $thirteenth-color;

    &:hover {
      color: $white-color;
      background-color: $thirteenth-color;
    }

    &:hover svg {
      fill: $white-color;
    }

    &:active {
      color: rgba($white-color, 0.3);
    }

    &:active svg {
      fill: rgba($white-color, 0.3);
    }
  }

  &--transparent {
    color: $sixth-color;
    background-color: transparent;
  }

  &--white-color {
    color: $second-color;
    background-color: $white-color;
  }

  &--main-color {
    color: $sixth-color;
    background-color: $main-color;
  }

  &--eleventh-color {
    color: $second-color;
    background-color: $eleventh-color;
  }

  &--twelfth-color {
    color: $thirteenth-color;
    background-color: $twelfth-color;

    &:hover {
      background-color: $twentyeighth-color;
    }

    &:active {
      color: rgba($thirteenth-color, 0.3);
      background-color: $twentyeighth-color;
    }
  }
}
