.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__input + .checkbox__label {
  position: relative;
  padding-left: 39px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: $sixth-color;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 26px;
    height: 26px;
    background: $white-color;
    border: 1px solid $twentieth-color;
    border-radius: $tiny-radius;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background: url("../img/icons/icon-check.svg");
  background-color: $white-color;
  background-size: 9px 9px;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox--choice {
  .checkbox__input + .checkbox__label {
    padding-left: 27px;
    color: $black-color;
  }

  .checkbox__input + .checkbox__label::before {
    width: 18px;
    height: 18px;
    border: none;
  }
}
