.button {
  padding: 0;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
  border: none;
  background-color: transparent;

  &--icon {
    font-size: 18px;
    line-height: 100%;
  }

  &--round {
    border-radius: 25px;
  }

  &--round-secondary {
    padding: 10px 23px;
    min-height: 62px;
    font-weight: 700;
    border-radius: 10px;
  }

  &--main-color {
    color: $sixth-color;
    background-color: $main-color;
  }
}

.contacts__link {
  display: flex;
}

.contacts__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  background-color: $eight-color;
  border: none;
  border-radius: 50%;
}

.contacts__text {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $eight-color;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: none;
  border-radius: 50%;
}

.main-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: $fifth-color;
}

.text {
  font-weight: 400;

  &--light {
    font-weight: 300;
  }

  &--bold {
    font-weight: 700;
  }

  &--white {
    color: #ffffff;
  }
}
