.my-plans {
  @include section-top-rounded;
  padding: 28px 0 60px;
  margin-top: $section-offset;
  background-color: $eleventh-color;
}

.my-plans__title {
  margin-bottom: 29px;
}

.my-plans__list {
  @include list-reset;
  counter-reset: plan-name;
}

.my-plans__item {
  padding: 24px 23px 23px;
  margin-bottom: 10px;
  background-color: $white-color;
  border-radius: $small-radius;

  &:last-child {margin-bottom: 0;}
}

.my-plans__name {
  position: relative;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: inherit;
  line-height: 100%;
  color: $sixth-color;

  &::before {
    position: absolute;
    left: 0;
    counter-increment: plan-name;
    content: counter(plan-name) ".";
  }
}

.my-plans__details {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.06em;
  color: $sixth-color;
  text-transform: uppercase;
}

.my-plans__companion {
  display: block;
  margin-bottom: 5px;
}

.my-plans__date {
  display: block;
  margin-bottom: 24px;
}

.my-plans__link {
  letter-spacing: 0.03em;
  color: rgba($black-color, 0.3);

  &:hover {
    color: rgba($black-color, 0.6);
  }

  &:active {
    color: rgba($black-color, 0.1);
  }
}
