.social {
  display: flex;
  justify-content: center;
  align-items: center;
  @include list-reset;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  &--main-color {
    background-color: $main-color;
  }
}
