.transport__item {
  width: 25px;
  height: 25px;

  & span {
    display: none;
  }

  /* &:last-child {
    margin-right: 0;
  } */
}

.transport__plane,
.transport__auto,
.transport__bicycle,
.transport__foot {
  position: relative;
}

.transport__plane::before,
.transport__auto::before,
.transport__bicycle::before,
.transport__foot::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}

.transport__plane::before {
  width: 21px;
  height: 23px;
  background-image: url("../img/icons/transport-plane.svg");
}

.transport__auto::before {
  width: 18px;
  height: 21px;
  background-image: url("../img/icons/transport-auto.svg");
}

.transport__bicycle::before {
  width: 25px;
  height: 24px;
  background-image: url("../img/icons/transport-bicycle.svg");
}

.transport__foot::before {
  width: 21px;
  height: 24px;
  background-image: url("../img/icons/transport-foot.svg");
}

.transport--disable {
  &::before {
    opacity: 0.15;
  }
}

.transport--card {
  .transport__item {
    width: 32px;
    height: 32px;
    margin-right: 1px;

    &::after {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $tenth-color;
      border-radius: 50%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .transport__plane::before {
    background-size: 14px 16px;
  }

  .transport__auto::before {
    background-size: 13px 16px;
  }

  .transport__bicycle::before {
    background-size: 14px 17px;
  }

  .transport__foot::before {
    background-size: 13px 17px;
  }
}
