$main-color: #ffd74b; //basic yellow  mustard
$second-color: #161c35; //basic blue
$third-color: #444444; //special grey
$fourth-color: #ffbd30; //special yellow-dark  sunglow
$fifth-color: #ff8d30; //special orange  neon-carrot
$sixth-color: #1d2e5b; //basic blue-light
$sevent-color: #ffa530; //dark-orange ||
$eight-color: #121936; //big-stone
$ninth-color: #f47e7e; //special red
$tenth-color: #edeff6; //basic blue-light
$eleventh-color: #dfe3f0; //special blue-light
$twelfth-color: #d6daed;
$thirteenth-color: #192144;
$fourteenth-color: #f97676;
$fifteenth-color: #e1e3e9;
$sixteenth-color: #132576;
$seventeenth-color: #e6e8f1;
$eighteenth-color: #ff0000;
$nineteenth-color: #f2f2f2;
$twentieth-color: #cbced9;
$twentyfirst-color: #e5e5e5;
$twentysecond-color: #d4d9eb;
$twentythird-color: #cccccc;
$twentyfourth-color: #d6d9e6;
$twentyfifth-color: #ff5c23;
$twentysixth-color: #afb0b5;
$twentyseventh-color: #e2e5f2;
$twentyeighth-color: #c8cee8;
$twentyninth-color: #f3c72b;
$thirtieth-color: #bbf085;
$thirtyfirst-color: #f9eaea;
$thirtysecond-color: #f02323;
$white-color: #ffffff;
$black-color: #000000;
