$main-color: #ffd74b; //basic yellow  mustard
$second-color: #161c35; //basic blue
$third-color: #444444; //special grey
$fourth-color: #ffbd30; //special yellow-dark  sunglow
$fifth-color: #ff8d30; //special orange  neon-carrot
$sixth-color: #1d2e5b; //basic blue-light
$sevent-color: #ffa530; //dark-orange ||
$eight-color: #121936; //big-stone
$ninth-color: #f47e7e; //special red
$tenth-color: #edeff6; //basic blue-light
$eleventh-color: #dfe3f0; //special blue-light
$thirteenth-color: #192144;
$fourteenth-color: #f97676;
$fifteenth-color: #e1e3e9;
$sixteenth-color: #132576;
$seventeenth-color: #e6e8f1;

$white-color: #ffffff;
