@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section-bottom-rounded {
  border-bottom-left-radius: $medium-radius;
  border-bottom-right-radius: $medium-radius;
}

@mixin section-top-rounded {
  border-top-left-radius: $medium-radius;
  border-top-right-radius: $medium-radius;
}
