//colors
$main-color: #FFD74B; //basic yellow  mustard
$second-color: #161C35 //basic blue
$third-color: #444444; //special grey
$fourth-color: #FFBD30; //special yellow-dark  sunglow
$fifth-color: #FF8D30; //special orange  neon-carrot
$sixth-color: #1D2E5B; //basic blue-light
$sevent-color: #FFA530; //dark-orange ||
$eight-color: #121936; //big-stone
$ninth-color: #F47E7E; //special red
$tenth-color: #EDEFF6; //basic blue-light
$eleventh-color: #DFE3F0; //special blue-light
